{% extends 'base/base.html' %}


{% block top_bar %}
     
   
     <h6 class="m-20 font-weight-bold text-primary badge-light">    LISTADO DE SUJETOS DE CONTRATO</h6>
     <p class="m-0 font-weight-bold text-primary">  user: {{ user.username }} &nbsp;&nbsp; {{ user.last_name }} {{ user.first_name }} </p>
 
 {% endblock top_bar %}

{% block page_content %}

<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  
  <!-- Card Body -->
  <div class="card-body">
    
    
    {% if not obj %}
       <div class="alert alert-info">No Hay Registros</div>
    {% endif %}
    
    <div class="buttons-toolbar">
        <a class="btn btn-danger" onclick="return abrir_modal('{% url 'cto:partes_new' %}')" href="#"></i>Nuevo registro</a>
    </div>

    <table 
      id="table"
      data-toggle="table"
      data-pagination="true"
      data-search="true"
      data-show-columns="true"
      data-show-toggle="true"
      data-show-fullscreen="true"
      data-toolbar=".buttons-toolbar"
      data-locale="es-MX"
    >
      <thead>
          <th data-sortable="true" data-field="codigo">Cód</th>
          <th data-sortable="true" data-field="claveDepartamento_id">Depto</th>
          <th data-sortable="true" data-field="nombreParte">Nombre completo</th>
          <th data-sortable="true" data-field="rfc">R.F.C.</th>
          <!-- <th data-sortable="true" data-field=>Estatus</th> -->
          
          <th class="all">Editar</th>  
      </thead>
      <tbody>
        {% for item in obj%}
        <tr>
          <td>{{ item.codigo }}</td>
          <td>{{ item.claveDepartamento_id }}</td>
          <td>{{ item.nombreParte }}</td>
          <td>{{ item.rfc }}</td>
          <!-- <td>{{ item.estatusParte }}</td> -->
          {% comment %} <td >{#item.estado|yesno:"Activo,Inactivo"#}
            <div onclick="inactivar({{item.id}})">
              {% if item.estado %}
                <i class="far fa-thumbs-up text-primary"></i>
              {% else %}
                <i class="far fa-thumbs-down text-danger"></i>
              {% endif %}
            </div>
          </td> {% endcomment %}
          <td>
            <button class="btn btn-warning btn-circle" onclick="return abrir_modal('{% url 'cto:partes_edit' item.id %}')"><i class="far fa-edit"></i></button>
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
</div>
{% endblock %}
{% block js_page %}
<script>
  function inactivar(id)
  {
    var data = {id:id};
    data = JSON.stringify(data);
    var token = '{{csrf_token}}';
    // alert(token);
    // alert(id);
    
    $.ajax({
      headers : {"X-CSRFToken": token},
      type:"POST",
      url:"/cto/partes/estado/"+id,
      data: data,
      success: function(response){
        if(response==="OK")
        {
          location.reload(true);
        }
        else{
          mensaje("Error Intentado Cambiar Estado ");
        }
      },
      error: function(jqXHR, textStatus, errorThrow){
        console.log(textStatus, errorThrow);
        mensaje(errorThrow,'red');
        cerrar_modal();
      }
    });
  }
// Call the dataTables jQuery plugin
// $(document).ready(function() {
//   $('.table').DataTable();
// });
</script>


{% endblock %}